.estaciones {
  display: flex;
  gap: 20px;
}

.estacion {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.verde {
  background-color: green;
  color: white;
}

.violeta {
  background-color: violet;
  color: white;
}

.rojo {
  background-color: red;
  color: white;
}
.amarillo{
  background-color: yellow;
  color: white;
  
}
